.home {
    display: flex;

    &__thumb {
        width: 25%;
        margin: 20px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
